@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-circle" src="../../Images/DentalExam.jpg" style="width:280px;height:180px" />
        </div>
        <div class="col-md-8">
            <h2>An affordable and convenient review of Dental Treatment Plans/Questions</h2>
<p>Our service was created by well-trained experienced dentists and dental specialists for you as a patient. Our goal is to help you feel confident that your dentist is giving you the best treatment options available and that you are aware of the appropriate fee for the recommended service!

    Our experts are on staff at all times to serve your dental needs, saving you time and money. We are able to offer a range of services at such a low cost to you because we work out of Bangalore, India which is an economical location with highly qualified dental specialists. We take your opinion requests completely online, and our entire review process only takes 3 days. If you need your second opinion even quicker than that, we offer a 24 hour turn around time as an expedited option during checkout.
</p>
            <p>Apart from that we also do all the dental treatments at an offordable prices here at our Bangalore office.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-circle" src="../../Images/DentalExam2.jpg" style="width:280px;height:180px" />
        </div>
        <div class="col-md-8">
            <h2>A Second Opinion that you can trust</h2>
<p>If you choose to visit a second dental office it would be more costly and probably not covered by dental insurance. Furthermore, you would not have access to our professional panel of experts.</p>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")