@{
    ViewBag.Title = "  Contact";
}
<h2><span class="glyphicon glyphicon-envelope"></span>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Second Opinion Dental Experts<br />
    #1, 13th Cross, Ganapathipura Main Road<br />
    Ganapathipura, Bangalore 560062<br />
    India<br />
    <span class="glyphicon glyphicon-phone-alt"></span>  8888888888
</address>

<address>
    <strong>Support:</strong>  <span class="glyphicon glyphicon-send"></span> <a href="mailto:c_d_gupta@hotmail.com"> c_d_gupta@hotmail.com</a><br />
    <strong>Marketing:</strong> <span class="glyphicon glyphicon-send"></span><a href="mailto:c_d_gupta@hotmail.com"> c_d_gupta@hotmail.com</a>
</address>
@Scripts.Render("~/bundles/jquery")