
@{
    ViewBag.Title = "Process";
}

<div class="container" id="Services-carousel">
    <div class="row">
        <div class="col-sm-8">
             <div class="thumbnail">
                <img src="../../Images/Process.png" alt="Process"/>
               </div>
        </div>
        <div class="col-sm-4">
             <h3>Step by step guide</h3>
             <ul style="list-style-type:circle">
              <li><h4>Visit our website at SecondOpinionDentalExperts.com.</h4></li>
              <li><h4>Click on “Fill the Form” and fill out the short form to begin.</h4></li>
              <li><h4>You will then receive an email from us with instructions and which service you should opt for. Please submit your payment accordingly.</h4></li>
              <li><h4>We will send you the list of&nbsp; dental records required</h4>
                </li>
                <li>
                    <h4>Obtain your dental records and submit them to us</h4></li>
              <li><h4>You will receive your review in 3 business days or less. If “expedited” service is chosen, it will be completed in 1 business day.</h4>
                </li>
            </ul>
        </div>
     </div >
</div >
@Scripts.Render("~/bundles/jquery")