
@{
    ViewBag.Title = "Cancelled....";
}

<h2>@ViewBag.Title</h2>


<h3>Oops...seems like you cancelled. </h3><br\>

<h3> Please click on Services to try again or Click on Home if already logged in.!!!</h3>

